Source: snake-store-pkglist
Section: admin
Priority: optional
Maintainer: Harvey186 <harvey186@hotmail.com>
Build-Depends: debhelper (>=12),
Standards-Version: 3.9.5
Vcs-Git: https://github.com/LeOS-GSI/snake-store-pkglist

Package: snake-store-pkglist
Architecture: all
Depends: snake-store (>=21.3.02)
Description: Part of SnakeOS program for installing additional packages.
 Snake Store is a program used for installing additional packages. 
 Snake Store-pkglist contains the list of packages and installation instructions.


Package: lo-backports-helper
Architecture: all
Conflicts: lo-main-helper
Depends:  libreoffice-firefox-compat
Provides: lo-backports-helper
Section: misc
Priority: optional
Multi-Arch: foreign
Description: libreoffice dummy helper package
 A helper package for Snake Store.
 
 
Package: lo-main-helper
Architecture: all
Conflicts: lo-backports-helper
Depends: libreoffice-firefox-compat
Provides: lo-main-helper
Section: misc
Priority: optional
Multi-Arch: foreign
Description: libreoffice dummy helper package
 A helper package for Snake Store.
 
Package: calibre-helper
Architecture: all
Conflicts: calibre
Provides: calibre-helper
Section: misc
Priority: optional
Multi-Arch: foreign
Description: calibre dummy helper package
 A helper package for Snake Store.
